<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <html prefix="og: http://ogp.me/ns#">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- gwt & bing meta-->
  <meta name="google-site-verification" content="SMnd4ehS_XWss8K4DguN1wLV4u8wJ__xFq2DPG7MQJU">
  <meta name="msvalidate.01" content="B42466CF4856E374C7CB3C87E0131537">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- meta descriptions from YAML -->
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
  <meta property="og:image" content="{{ site.baseurl }}public/open-graph-image-cs.png">


  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
  {% include google_analytics.html %}
  {% include structured_data_json_ld.html %}
</head>
